@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');

.fundo_investimento{
    width: 100%;
    height: 977px;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #3D3D3D;;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.titulo_investimento{
    font-size: 30px;
    margin-top: 60px;
    color: #fff;
}

.subtitulo_investimento{
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
}

.imagens_investimentos{
    margin-top: 60px;
    cursor: pointer;
}


.imagens_investimentos img{
    margin-left: 15px;
    margin-right: 15px;
}


.saiba_mais{
    margin-top: 30px;
    font-size: 22px;
    background-color: #E0AD00;
    width: 200px;
    border-radius: 10px;
    margin-left: 42%;
    cursor: pointer;
}

.saiba_mais:hover{
    background-color: #ff7b00;
    transition: 1s;
    
}